* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.not-found-parent {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}